*{
    margin: 0;
    padding: 0;
}

:root{
    --Fake-Page-background: #7c00b6;
    --Neomorphism-background:#8b00cc;
    --Neomorphism-boxshado1: #380052;
    --Neomorphism-boxshado2: #de00ff;
}

body{
    background-color: var(--Neomorphism-background);
}

header{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Neomorphism-background);
    padding: 1%;
}

header a img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#logo {
    width: 5%;
    padding: 0.5%;
    border-radius: 50%;
    background: var(--background);
    box-shadow: inset 3px 3px 6px var(--Neomorphism-boxshado1),
                inset -3px -3px 6px var(--Neomorphism-boxshado2);
}

#logo:hover{
    box-shadow:  3px 3px 6px var(--Neomorphism-boxshado1),
                -3px -3px 6px var(--Neomorphism-boxshado2);
}

header section{
    width: 50%;
    display: flex;
}

header section a{
    margin-left: 10%;
    margin-top: 3%;
    padding: 1%;
    color: #fff;
    font-size: 1.3vw; ;
    text-decoration: none;
    
    border: 1px solid var(--Neomorphism-background);
    border-radius: 10%;

    background: var(--background);
    box-shadow: 3px 3px 6px var(--Neomorphism-boxshado1),
                -3px -3px 6px var(--Neomorphism-boxshado2);

    transition-duration: 1s;
}

header section a:hover{
    border-radius: 10%;

    background: var(--background);
    box-shadow: inset 3px 3px 6px var(--Neomorphism-boxshado1),
                inset -3px -3px 6px var(--Neomorphism-boxshado2);

    
}


#labels{
    display: flex;
}


#Products{
    border: 1px solid green;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
/*
.bracelets{
    width: 15px;
    height: 15px;
    background-color: #ff0000;
}
.rings{
    width: 15px;
    height: 15px;
    background-color: #00ff15;
}
.necklaces{
    width: 15px;
    height: 15px;
    background-color: #0400ff;
}
*/




footer{
    background-color:var(--Neomorphism-background);
    display: grid;

    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

footer div{
    margin: 2%;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
}

footer a{
    display: block;
    max-width: 100%;
    height: auto;

    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    font-weight: bolder;
    padding-left: 5%;
}

footer a:hover{
    color: #ffffff;
    background: var(--background);
    box-shadow: inset 3px 3px 6px var(--Neomorphism-boxshado1),
                inset -3px -3px 6px var(--Neomorphism-boxshado2);
}

#local{
    width: 10%;
}

footer h1{
    color: #ffffff;
    font-size: 2vw;
}

footer p{
    font-size: 1vw;
    font-weight: bold;
}
